# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem

# debug scripts
fix-*.js
patch-*.js
dev.log
*.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
*.db
*.db-journal
*.sqlite
data_dump.sql

# infrastructure
Infra/backups/*.sql.gz
